.good{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3BhcCnFQFsVzKR4oHDxd9HxWBzXNCHOUfaA&s);
    background-position: center;
    

}
.in{
    background-color: aquamarine;
}
.up{
    background-color: rgb(212, 195, 174);
}
.Buy:hover{
    transform: scale(0.95);
    transition: all 0.5s ease-out;
}